.App {
  text-align: center;
  padding: 30px 15px;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.github-logo {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}

.search-input-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-search {
  color: white;
  background-color: #373738 !important;
  border: none;
  padding: 15px 10px;
  border-radius: 5px;
  font-size: large;
  text-transform: capitalize;
}

.user-card {
  background-color: inherit;
}

.repositories-container {
  margin: 5px 15px;
  min-width: 300px;
}

.organizations-container {
  margin: 5px 15px;
  min-width: 300px;
}
